<h1><%= @forum.title %></h1>

<ol class="breadcrumb">
  <% if @forum.campaign %>
      <li><%= link_to @forum.campaign.name, campaign_path(@forum.campaign) %></li>
  <% end %>
  <li class="active"><%= @forum.name %></li>
</ol>

<%= link_to 'New Post', new_forum_post_path(@forum), class: 'btn btn-primary' %>

<% @posts.each do |post| %>
    <%= render 'posts/show_short', post: post %>
<% end %>

