<% title @resource.name %>
<h2><%= @resource.name %></h2>

<div id="breadcrumbs">
  <%= link_to @resource.campaign.name, campaign_path(@resource.campaign) %> > <%= @resource.name %>
</div>
<br />

<p>
  <%= link_to 'Edit', edit_campaign_resource_path(@resource), :class=>'button' %>
</p>

<div id="tabs">
  <ul>
	  <li><a href="#tabs-1">Public Description</a></li>
    <% if @resource.campaign.user == current_user %>
  	  <li><a href="#tabs-2">GM's Description</a></li>
  	<% end %>
  </ul>
  <div id="tabs-1">
    <p><%= @resource.public_description %></p>
	</div>
  <% if @resource.campaign.user == current_user %>
    <div id="tabs-2">
      <p><%= @resource.private_description %></p>
    </div>
  <% end %>
</div>


