<% title @resource.name %>
<h2><%= @resource.name %></h2>

<div id="breadcrumbs">
  <%= link_to @resource.campaign.name, campaign_path(@resource.campaign) %> > <%= @resource.name %>
</div>
<br/>

<p>
  <%= link_to 'Edit', edit_campaign_campaign_resource_path(@resource.campaign, @resource), :class => 'button' %>
</p>

<ul class="nav nav-tabs">
  <li class="active"><a href="#public_description" data-toggle="tab">Public Description</a></li>
  <% if @resource.campaign.user == current_user %>
    <li><a href="#private_description" data-toggle="tab">GM's Description</a></li>
  <% end %>
</ul>
<div class="tab-content">
  <div class="tab-pane active" id="public_description">
    <p><%= render_markdown(@resource.public_description) %></p>
  </div>
  <div class="tab-pane" id="private_description">
    <p><%= render_markdown(@resource.private_description) %></p>
  </div>
</div>




