
<div id="content">
 <%= render_gravatar @user %>
  <h1><%= @user.nickname %></h1>
  <p>
  </p>
  <table class="show_form">
    <tr>
      <td class="show_label">ID:</td>
      <td class="show_value"><%= @user.id %></td>
    </tr>
    <tr>
      <td class="show_label">Signup Date:</td>
      <td class="show_value"><%= @user.created_at.to_s(:cst) %></td>
    </tr>
  </table>
  <br/>
  
  <div id="section_heading">
    <span>Running Campaigns</span>
    <% if session[:user_id]==@user %>
      <%= link_to "New Campaign", new_campaign_url, :class=>'button' %>
    <% end %>
    <hr/>
  </div>
  <table class="show_form">
    <% if @user.campaigns %>
      <% for campaign in @user.campaigns %>
        <tr>
          <td><%= link_to campaign.name, campaign_url(campaign) %></td>
          <td><%= campaign.system.name %></td>
        </tr>
      <% end %>
    <% end %>
  </table>
  <br/>
  
  <div id="section_heading">
    <span>Playing Games</span>
    <% if session[:user_id]==@user %>
    <%= link_to "Find Game", campaigns_url, :class=>'button' %>
    <% end %>
    <hr/>
  </div>
  <table class="show_form">
    <% if @user.games %>
      <% for game in @user.games %>
        <tr>
          <td><%= link_to game.name, campaign_url(game) %></td>
        </tr>
      <% end %>
    <% end %>
  </table>
  <br/>
  
</div>

<% if session[:user_id]==@user %>
  <%= link_to 'Edit', edit_user_url(@user) %> 
<% end %>
