<% user_id = session[:user_id] %>
<ul>

  <% if user_id %>
    <li><%= link_to 'Home', user_path(user_id) %></li>
  <% else %>
    <li><%= link_to 'Home', root_path %></li>
  <% end %>

  <% unless current_user %>
    <li><%= link_to 'Login', new_user_session_path %></li>
    <li><%= link_to 'Signup', new_user_registration_path %></li>
  <% else %>
    <li><%= link_to 'Logout', user_session_path, :method=>:delete %></li>
  <% end %>

  <li><%= link_to 'Forums', forums_path %></li>
</ul>
