<% user_id = session[:user_id] %>
<ul>

  <% if user_id %>
    <li><%= link_to 'Home', user_path(user_id) %></li>
  <% else %>
    <li><%= link_to 'Home', root_path %></li>
  <% end %>

  <% unless user_id %>
    <li><%= link_to 'Login', new_session_path %></li>
    <li><a href="http://localhost:3000">Signup</a></li>
  <% else %>
    <li><%= link_to 'Logout', session_path, :method=>:delete %></li>
  <% end %>

  <li><%= link_to 'Forums', forums_path %></li>
</ul>
