<%# title "Edit Profile" %>

<%= link_to 'Dashboard', user_dashboard_url(:current) %>

<%= form_for @user do |f| %>
  <%= f.error_messages %>
  <p>
    <b>Current IP: </b> <%= @user.current_login_ip %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>
