<div id="content">
<h2><%= link_to @story.campaign.name, campaign_url(@story.campaign) %>: <%= @story.name %></h2>
<p>
<% if @story.public %>
  <span style="color:green">This storyline has been revealed.</span>
<% else %>
  <span style="color:red">This storyline is for the GM's eyes only!</span>
<% end %>
</p>

<p>
<div id="section_heading">
<span>Public Description</span>
<hr/>
</div>
<%= @story.public_description -%>
</p>


<% if @story.campaign.user_id == session[:user_id] %>
<br/>
<p>
  <div id="section_heading">
    <span>GM's Description</span>
  <hr/>
 </div>
<%= @story.private_description -%>
</p>
<% end %>

<p>
<div id="section_heading">
  <span>Chapters</span>
  <%= link_to "New", new_campaign_story_chapter_url(@story.campaign, @story), :class=>'button' %>
<hr/>
  </div>
<% for chapter in @story.chapters.find(:all, :order=>:position) %>
<% link_text = "Chapter "+chapter.position.to_s+": "+chapter.name %>
<%= link_to link_text, campaign_story_chapter_url(@story.campaign, @story, chapter) %>
<% end %>
</p>

<p>
<div id="section_heading">
  <span>Actors (NPC's)</span>
  <%= link_to "New", {}, :class=>'button' %>
<hr/>
  </div></p>

<p>
<div id="section_heading">
  <span>Props (Items)</span>
  <%= link_to "New", {}, :class=>'button' %>
<hr/>
  </div></p>

<br/>
</div>
<p>
<%= link_to 'Edit', edit_campaign_story_url(@story.campaign, @story) %> 
</p>
