<% title @story.name %>
<h2><%= @story.name %></h2>

<div id="breadcrumbs">
  <%= link_to @story.campaign.name, campaign_path(@story.campaign) %> > <%= @story.name %>
</div>

<p>
<% if @story.revealed %>
  <span style="color:green">This storyline has been revealed.</span>
<% else %>
  <span style="color:red">This storyline is for the GM's eyes only!</span>
<% end %>
</p>

<%= link_to 'Edit', edit_story_path(@story), :class=>'button' %>
<div id="tabs">
  <ul>
	  <li><a href="#tabs-1">Public Description</a></li>
    <% if @story.campaign.user == current_user %>
  	  <li><a href="#tabs-2">GM's Description</a></li>
  	<% end %>
  </ul>
  <div id="tabs-1">
    <div class="tab-window">
      <p><%= textilize(@story.public_description).html_safe %></p>
    </div>
	</div>
  <% if @story.campaign.user == current_user %>
    <div id="tabs-2">
      <div class="tab-window">
        <p><%= textilize(@story.private_description).html_safe %></p>
      </div>
    </div>
  <% end %>
</div>

<p>
<div id="section_heading">
  <span>Chapters</span>
  <%= link_to "New", new_story_chapter_path(@story), :class=>'button' %>
<hr/>
</div>
  <% for chapter in @story.chapters.find(:all, :order=>:position) %>
    <ul class="sortable">
      <li><%= link_to "Chapter #{chapter.position.to_s}: #{chapter.name}", chapter_path(chapter) %></li>
    </ul>
  <% end %>
</p>

<div id="resource_list">
  <h2>Resources</h2>
</div>


