<div id="content">
<h2><%= link_to @story.campaign.name, campaign_path(@story.campaign) %>: <%= @story.name %></h2>
<p>
<% if @story.revealed %>
  <span style="color:green">This storyline has been revealed.</span>
<% else %>
  <span style="color:red">This storyline is for the GM's eyes only!</span>
<% end %>
</p>

<div id="tabs">
  <ul>
	  <li><a href="#tabs-1">Public Description</a></li>
    <% if @story.campaign.user == current_user %>
  	  <li><a href="#tabs-2">GM's Description</a></li>
  	<% end %>
  </ul>
  <div id="tabs-1">
    <p><%= @story.public_description %></p>
	</div>
  <% if @story.campaign.user == current_user %>
    <div id="tabs-2">
      <p><%= @story.private_description %></p>
    </div>
  <% end %>
</div>

<p>
<div id="section_heading">
  <span>Chapters</span>
  <%= link_to "New", new_story_chapter_path(@story), :class=>'button' %>
<hr/>
  </div>
<% for chapter in @story.chapters.find(:all, :order=>:position) %>
<% link_text = "Chapter "+chapter.position.to_s+": "+chapter.name %>
<%= link_to link_text, chapter_path(chapter) %>
<% end %>
</p>

<p>
<div id="section_heading">
  <span>Actors (NPC's)</span>
  <%= link_to "New", {}, :class=>'button' %>
<hr/>
  </div></p>

<p>
<div id="section_heading">
  <span>Props (Items)</span>
  <%= link_to "New", {}, :class=>'button' %>
<hr/>
  </div></p>

<br/>
</div>
<p>
<%= link_to 'Edit', edit_story_path(@story) %>
</p>
