<div id="content">
<h2><%= link_to @character.campaign.name, campaign_path(@character.campaign) %> : <%= @character.name %></h2>

<% if not @character.npc? %>
<p>
<div id="section_heading">
<span>Statistics</span>
<hr/>
</div>
<%= @character.statistics -%>
</p>
<% end %>

<p>
<div id="section_heading">
<span>Public Description</span>
<hr/>
</div>
<%= @character.public_description -%>
</p>

<% if @character.campaign.user_id == session[:user_id] %>
  <% if @character.npc? %>
    <p>
    <div id="section_heading">
    <span>Statistics</span>
    <hr/>
    </div>
    <%= @character.statistics -%>
    </p>
  <% end %>

<br/>

<p>
  <div id="section_heading">
    <span>GM's Description</span>
  <hr/>
 </div>
<%= @character.private_description -%>
</p>
<% end %>


<br/>
</div>
<p>
<%= link_to 'Edit', edit_character_url(@character) %>
</p>
