<% title @chapter.name %>
<h2><%= @chapter.name %></h2>

<div id='breadcrumbs'>
  <%= link_to @chapter.story.campaign.name, campaign_path(@chapter.story.campaign) %> > <%= link_to @chapter.story.name, story_path(@chapter.story) %> > <%= @chapter.name %>
</div>

<p>
<% if @chapter.revealed %>
  <span style="color:green">This chapter has been revealed.</span>
<% else %>
  <span style="color:red">This chapter is for the GM's eyes only!</span>
<% end %>
</p>

<%= link_to 'Edit', edit_chapter_path(@chapter), :class=>'button' %>
<div id="tabs">
  <ul>
	  <li><a href="#tabs-1">Public Description</a></li>
    <% if @chapter.story.campaign.user == current_user %>
  	  <li><a href="#tabs-2">GM's Description</a></li>
  	<% end %>
  </ul>
  <div id="tabs-1">
    <div class="tab-window">
      <p><%= render_markdown(@chapter.public_description) %></p>
    </div>
	</div>
  <% if @chapter.story.campaign.game_master?(current_user) %>
    <div id="tabs-2">
      <div class="tab-window">
        <p><%= render_markdown(@chapter.private_description) %></p>
      </div>
    </div>
  <% end %>
</div>

<h2>Resources</h2>
