<div class="post">

    <table>
    <tr>
      <td colspan="2">
      <div class="timestamp">
       <%=show_short.created_at %>
       <%=link_to(image_tag( "page_edit.png"), edit_forum_post_url(show_short.forum, show_short)) %><%= image_tag("page_remove.png") %>
      </div>
    </td>
    </tr>
    <tr>
      <td class="header_image">
            <%= render_gravatar show_short.user %>
            <%= show_short.user.nickname %>
      </td>
      <td class="post_body">
          <%= link_to show_short.title, forum_post_url(show_short.forum, show_short) %>
          <p>
          <%= show_short.contents %>
        </p>
      </td>
    </tr>
    </table>


</div>