<div class="post">

  <table>
    <tr class="post_header"> 
      <td class="post_image">
        <%= render_gravatar show_short.user %>
      </td>
      <td class="post_byline">
          <div class="post_title">
            <%= show_short.title %>
          <span class="post_icons">
          <% if current_user == show_short.user %>
            <%=link_to(image_tag( "page_edit.png"), edit_post_path(show_short)) %><%= image_tag("page_remove.png") %>
          <% end %>
            </span>
          </div>
          <time datetime="<%= show_short.created_at %>"><%= l show_short.created_at %></time>
          <div class="post_timestamp">
          <%= show_short.user.nickname %> said at <%= l show_short.created_at %>
          </div>
      </td>
    </tr>
    <tr>
      <td class="post_body" colspan="2">
        <p>
          <%= show_short.contents %>
        </p>
      </td>
    </tr>
  </table>

</div>