<article class="post">
  <div class="post_header">
    <div class="post_image">
      <%= render_gravatar show_short.user %>
    </div>
    <div class="post_byline">
      <h2><%= link_to show_short.title, post_path(show_short) %></h2>
      <%= link_to show_short.user.nickname, user_path(show_short.user) %> said on <time datetime="<%= show_short.created_at %>"><%= l(show_short.created_at, :format=>:post_date) %></time>
    </div>
    <% if current_user == show_short.user %>
      <div class="post_edit_links">
        <%=link_to(image_tag( "page_edit.png"), edit_post_path(show_short)) %><%= image_tag("page_remove.png") %>
      </div>
    <% end %>
    <div class="post_tags">
      <ul>
        <li><a href="#">Tag1</a>
        <li><a href="#">Tag2</a>
      </ul>
    </div>
  </div>
  <div class="post_body">
    <%= textilize(show_short.contents) %>
  </div>
</article>
