<h1>Edit Post</h1>

<%= form_for(@post) do |form| %>
  <fieldset>
    <p>
      <%= form.label :title, 'Title', :class=>'required' %>
      <%= form.text_field :title %>
    </p>
    <p>
      <%= form.label:contents, 'Contents', :class=>"required" %>
      <%= form.text_area :contents %>
    </p>
  </fieldset>
  <%= form.submit 'Submit' %>
<% end %>

