<h1>New Post</h1>

<%= form_for([@post.forum, @post]) do |form| %>
  <fieldset>
    <%= form.hidden_field :user_id %>
    <%= form.hidden_field :forum_id %>
    <p>
      <%= form.label :title, 'Title', :class => "required" %>
      <%= form.text_field :title %>
    </p>

    <p>
      <%= form.label :contents, 'Contents' %>
      <%= form.text_area :contents, :class => "required markItUp" %>
    </p>
  </fieldset>
  <%= form.submit 'Submit' %>
<% end %>

