<h2>Public Campaigns</h2>

<% if @campaigns.empty? %>
  <div class="alert alert-warning">
    No records to display!
  </div>
<% else %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>System</th>
        <th>Game Master</th>
        <th>Players</th>
      </tr>
    </thead>
    <tbody>
      <% for campaign in @campaigns %>
        <tr>
          <td><%= link_to campaign.name, campaign_path(campaign) %></td>
          <td><%= campaign.system.name %></td>
          <td><%= campaign.user.nickname %></td>
          <td><%= campaign.players.count %> / <%= campaign.max_players %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>



