<h2><%= @campaign.name %></h2>
<p>
  This is a
  <% if @campaign.public? %>
    <span style="color:green">PUBLIC</span>
  <% else %>
    <span style="color:red">PRIVATE</span>
  <% end %>
  campaign.
</p>


<div>
  <%= label_tag t(:system) %>:
  <%= @campaign.system.name %>
</div>
<div>
  <%= label_tag t(:game_master) %>:
  <%= link_to @campaign.user.nickname, user_path(@campaign.user) %>
</div>
<div>
  <%= label_tag t(:created_at) %>:
  <%= l(@campaign.created_at, :format => :post_time) %>
</div>
<div>
  <%= label_tag t(:players) %>:
  <%= @campaign.characters.player.count %> / <%= @campaign.max_players %>
</div>

<br/>

<ul class="nav nav-tabs">
  <li class="active"><a href="#players" data-toggle="tab">Players</a></li>
  <li><a href="#stories" data-toggle="tab">Stories</a></li>
  <li><a href="#characters" data-toggle="tab">Characters</a></li>
  <li><a href="#resources" data-toggle="tab">Resources</a></li>
  <li><a href="#locations" data-toggle="tab">Locationss</a></li>
</ul>
<div class="tab-content">
  <div class="tab-pane active" id="players">
    <% if @campaign.game_master?(current_user) %>
      <%= render :partial => 'campaign_invites/form' %>
    <% end %>
    <% if @campaign.characters.player %>
      <table>
        <thead>
        <tr>
          <th>Player Name</th>
          <th>Character Name</th>
        </tr>
        </thead>
        <% @campaign.characters.player.each do |player| %>
          <% character = @campaign.characters.player.find(:first, :conditions => { :user_id => player }) %>
          <tr>
            <td><%= link_to character.player_name, user_path(character.user) %></td>
            <td><%= link_to character.name, character_path(character) %></td>
          </tr>
        <% end %>
      </table>
    <% end %>
  </div>
  <div class="tab-pane" id="stories">
    <% if @campaign.game_master?(current_user) %>
      <%= link_to 'New', new_campaign_story_path(@campaign), :class => 'button' %>
    <% end %>
    <% if @campaign.stories %>
      <table>
        <% @campaign.stories.each do |story| %>
          <tr>
            <td><%= link_to story.name, campaign_story_path(@campaign, story) %></td>
          </tr>
        <% end %>
      </table>
    <% end %>
  </div>
  <div class="tab-pane" id="characters">
    <% if @campaign.game_master?(current_user) %>
      <%= link_to "New", new_campaign_campaign_resource_path(@campaign), :class => 'button' %>
    <% end %>
    <ul>
      <% @campaign.characters.each do |character| %>
        <li><%= link_to character.name, campaign_campaign_resource_path(@campaign,character) %></li>
      <% end %>
    </ul>
  </div>
  <div class="tab-pane" id="resources">
    <% if @campaign.game_master?(current_user) %>
      <%= link_to 'New', new_campaign_campaign_resource_path(@campaign), :class => 'button' %>
    <% end %>
    <ul>
      <% @campaign.resources.items.each do |item| %>
        <li><%= link_to item.name, campaign_campaign_resource_path(@campaign,item) %></li>
      <% end %>
    </ul>
  </div>
  <div class="tab-pane" id="locations">
    <% if @campaign.game_master?(current_user) %>
      <%= link_to 'New', new_campaign_campaign_resource_path(@campaign), :class => 'button' %>
    <% end %>
    <ul>
      <% @campaign.resources.locations.each do |location| %>
        <li><%= link_to location.name, campaign_campaign_resource_path(@campaign, location) %></li>
      <% end %>
    </ul>
  </div>
</div>

<h2>Adventure Logs</h2>
<%= link_to @campaign.public_forum.name, forum_path(@campaign.public_forum) %><br/>
<% if @campaign.game_master?(current_user) %>
  <%= link_to @campaign.private_forum.name, forum_path(@campaign.private_forum) %><br/>
<% end %>

<br/>

<% if @campaign.game_master?(current_user) %>
  <%= link_to 'Edit', edit_campaign_path(@campaign) %>
<% end %>
