
<div id="content">
  <h1><%= @campaign.name %></h1>
  <p>
    This campaign is marked  
    <% if @campaign.public %>
      <span style="color:green">PUBLIC</span>
    <% else %>
      <span style="color:red">PRIVATE</span>
    <% end %>
  </p>
  <table class="show_form">
    <tr> 
      <td class="show_label">System:</td>
      <td class="show_value"><%= @campaign.system.name %></td>
    </tr>
    <tr>
      <td class="show_label">Game Master:</td>
      <td class="show_value"><%= link_to @campaign.user.nickname, user_path(@campaign.user) %></td>
    </tr>
    <tr>
      <td class="show_label">Created At:</td>
      <td class="show_value"><%= l @campaign.created_at %></td>
    </tr>
    <tr>
      <td class="show_label">Players:</td>
      <td class="show_value"><%= @campaign.players.count %> / <%= @campaign.max_players %></td>
  </tr>  </table>
  <br/>
  
  <!-- either an email or a nickname -->
  <div id="section_heading">
    <span>Players</span>
    <% if @campaign.is_game_master?(current_user) %>
	  <%= link_to "Invite Player", nil, :class=>'button' %>
    <% end %>
    <hr/>
  </div>
  <table class="show_form">
    <% if @campaign.players %>
        <thead><tr><th>Player Name</th><th>Character Name</th></tr></thead>
       <% for player in @campaign.players %>
        <% character = @campaign.player_characters.find(:first, :conditions=>{:user_id=>player}) %>
        <tr>
          <td><%= link_to character.player_name, user_path(character.user) %></td>
          <td><%= link_to character.name, character_path(character) %></td>
        </tr>
      <% end %>
  <% end %>
  </table>
  <br/>
  
  <div id="section_heading">
    <span>Stories</span>
    <% if (@campaign.user==current_user) %>
    <%= link_to 'New', new_campaign_story_path(@campaign), :class=>'button' -%>
    <% end %>
    <hr/>
  </div>
  <table class="show_form">
    <% if @campaign.stories %>
        <% for story in @campaign.stories %>
        <tr>
          <td><%=story.position %>) <%= link_to story.name, story_path(story) %></td>
        </tr>
      <% end %>
  <% end %>
  </table>
  <br/>
  
  <div id="section_heading">
    <span>Actors (NPCs)</span>
    <% if (@campaign.user==current_user) %>
    <%= link_to "New", new_campaign_character_path(@campaign), :class=>'button' %>
    <% end %>
    <hr/>
  </div>
  <table class="show_form">
    <% if @npcs %>
        <% for npc in @npcs %>
        <tr>
          <td><%= link_to npc.name, character_path(npc) %></td>
        </tr>
      <% end %>
  <% end %>
  </table>
  <br/>
  
  <div id="section_heading">
    <span>Props (Items)</span>
    <% if (@campaign.user==current_user) %>
    <%= link_to "New", {}, :class=>'button' %>
    <% end %>
    <hr/>
  </div>
  <br/>

  <div id="section_heading">
    <span>Resources</span>
    <% if (@campaign.user==current_user) %>
    <%= link_to "New", new_campaign_campaign_resource_path(@campaign), :class=>'button' %>
    <% end %>
    <hr/>
  </div>
  <table class="show_form">
    <% if @campaign.resources %>
        <% for resource in @campaign.resources %>
        <tr>
          <td><%= link_to resource.name, campaign_resource_path(resource) %></td>
        </tr>
      <% end %>
  <% end %>
  </table>
  <br/>

  <div id="section_heading">
    <span>Adventure Logs</span>
    <hr/>
  </div>
  <%= link_to @campaign.public_forum.name, forum_posts_path(@campaign.public_forum) %><br/>
  <%= link_to @campaign.private_forum.name, forum_posts_path(@campaign.private_forum) %><br/>
  <br/>
  
</div>

<% if (@campaign.user==current_user) %>
<%= link_to 'Edit', edit_campaign_path(@campaign) %>
<% end %>
