
<div id="content">
<h1><%= @campaign.name %></h1>
<p>
This campaign is marked  
<% if @campaign.public %>
  <span style="color:green">PUBLIC</span>
<% else %>
  <span style="color:red">PRIVATE</span>
<% end %>
</p>
<table class="show_form">
  <tr> 
    <td class="show_label">System:</td>
    <td class="show_value"><%= @campaign.system.name %></td>
  </tr>
  <tr>
    <td class="show_label">Game Master:</td>
    <td class="show_value"><%= @campaign.user.email %></td>
  </tr>
  <tr>
    <td class="show_label">Created At:</td>
    <td class="show_value"><%= @campaign.created_at %></td>
  </tr>
  <tr>
    <td class="show_label">Players:</td>
    <td class="show_value"><%= @campaign.players.count %> / <%= @campaign.max_players %></td>
  </tr>  </table>
<br/>

<div id="section_heading">Players<%= link_to "Invite Player", :controller=>"users", :action=>:invite -%></div>
<hr/>
<table class="show_form">
<% if @campaign.players %>
<% for player in @campaign.players %>
  <tr>
    <td><%= player.email %></td><td>__Create Character__</td>
  </tr>
<% end %>
<% end %>
  </table>
<br/>

<div id="section_heading">Stories<%= link_to 'New', :controller=>"stories", :action=>:new -%></div>
<hr/>
<table class="show_form">
<% if @campaign.stories %>
<% for story in @campaign.stories %>
  <tr>
    <td><%= link_to story.name, :controller=>"stories", :action=>:show, :id=>story %></td>
  </tr>
<% end %>
<% end %>
  </table>
<br/>

<div id="section_heading">NPCs<%= link_to "New", :controller=>"stories", :action=>:new -%></div>
<hr/>
<br/>

<div id="section_heading">Items<%= link_to "New", :controller=>"stories", :action=>:new -%></div>
<hr/>
<br/>

</div>

<%= link_to 'Edit', edit_campaign_url(@campaign) %> 
