<%# title "Login" %>

<% form_for @user_session, :url=>user_session_path do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </p>
  <p><%= f.submit "Submit" %></p>

  <h2>Or use OpenID</h2>
  <p>
    <%= f.label :openid_identifier, "OpenID URL" %><br />
    <%= f.text_field :openid_identifier %>
  </p>
  <p>
    <%= f.label :remember_me, 'Remember Me:' %> <%= f.check_box :remember_me %>
  </p>
  <p><%= f.submit "Submit", :id=>'session_submit_oid' %></p>
<% end %>


