<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= yield(:title) || 'GameMaster' %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8"/>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tag %>
</head>
<body class='<%= "#{controller_name}-#{action_name}" %>'>

<header class="header-nav" role="navigation">
  <%= link_to 'GameMaster', root_url, class: 'navbar-brand' %>
  <aside class="collapse navbar-collapse"><%= render :partial => 'header_nav' %></aside>
</header>

<div class="container-fluid">
  <div class="flash">
    <%= render 'flash' %>
  </div>

  <%= yield %>
</div>

<footer>
  <p>Copyright <%= Time.now.year %> Richard Kent Jordan</p>
</footer>
</body>
</html>
