<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= yield(:title) || "Untitled" %></title>
    <meta charset="utf-8" />
    <%= stylesheet_link_tag 'application' %>
    <%= stylesheet_link_tag 'eggplant2/jquery-ui-1.8.1.custom' %>
    <%= stylesheet_link_tag 'markitup-1.1.7/skins/markitup/style', 'markitup-1.1.7/sets/textile/style' %>
    <%= csrf_meta_tag %>
  </head>
  <body id="<%= "#{controller_name}_#{action_name}" %>">

  <header>
    GameMaster
    <aside><%= render :partial=>'shared/header_nav' %></aside>
  </header>

  <!-- sidebar -->
  <aside id="sidebar""><%= render :partial=>'shared/left_nav' %></aside> 

  <div id="container">
  
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, :id => "flash_#{name}", :class=>'.ui-state-error' %>
    <% end %>

    <% if flash.notice %>
      <%= content_tag :div, flash[:notice], :id => "flash_notice", :class=>'.ui-state-highlight' %>
    <% end %>
    <% if flash.alert %>
      <%= content_tag :div, flash[:alert], :id => "flash_alert", :class=>'.ui-state-error' %>
    <% end %>
    
    <article>
      <%= yield %>
    </article>
  </div>

  <footer>
    <p>Copyright 2008-<%= Time.now.year %> Richard Kent Jordan</p>
  </footer>

  <%= javascript_include_tag 'jquery-1.4.2.min', 'jquery.rails.min', 'jquery-ui-1.8.1.custom.min' %>
  <%= javascript_include_tag 'markitup-1.1.7/jquery.markitup.pack', 'markitup-1.1.7/sets/textile/set' %>
  <%= javascript_include_tag 'application' %>
  </body>
</html>
